<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OriginalQuiz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>067EB6221C70CD13001E4793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>067EB6361C70CD13001E4793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>067EB6411C70CD13001E4793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
